<div class="text-center">
  <div class="row top-margin">
    <div class="col-md-4">
      <%= label_tag I18n.t('city') %>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :city_name %>
    </div>
  </div>
</div>