<% if flash[:error].present? %>
  <div class="text-center margin-all">
    <div role="alert" class="alert alert-danger alert-dismissible fade in">
      <p><%= flash[:error] %></p>
    </div>
  </div>
<% end %>